pre.coda .UserDefinedConstant {
   color: #916319;
}
pre.coda .String {
   color: #ED7722;
}
pre.coda .line-numbers {
   background-color: #A7CAFF;
   color: #000000;
}
pre.coda .LanguageConstant {
   color: #000000;
}
pre.coda .InheritedClass {
   color: #CC4C07;
}
pre.coda .Variable {
   color: #916319;
}
pre.coda .TagInlineSource {
   color: #2B8B2B;
   font-style: italic;
}
pre.coda .MetaBrace {
   color: #2B8B2A;
   font-style: italic;
}
pre.coda .Keyword1 {
   color: #000000;
}
pre.coda .Storage {
   color: #AA2063;
}
pre.coda {
   background-color: #FFFFFF;
   color: #000000;
}
pre.coda .TagAttribute1 {
   color: #B14E00;
}
pre.coda .Tag {
   color: #A21297;
}
pre.coda .TagName {
   color: #881181;
}
pre.coda .ClassName {
   color: #CC4C07;
}
pre.coda .Number {
   color: #0F20F6;
}
pre.coda .TagName1 {
   color: #A21297;
}
pre.coda .KeywordControl {
   color: #AA2063;
}
pre.coda .ClassVariable {
   color: #000000;
}
pre.coda .TagValue {
   color: #1A1BB7;
}
pre.coda .FunctionArgument {
   color: #053369;
}
pre.coda .BuiltInConstant {
   color: #916319;
}
pre.coda .TagOther {
   color: #A21297;
}
pre.coda .Doctype {
   color: #2B8B2C;
   font-style: italic;
}
pre.coda .LibraryFunction {
   color: #7520AF;
}
pre.coda .TagAttribute {
   color: #881181;
}
pre.coda .Keyword {
   color: #AA2063;
}
pre.coda .FunctionCall {
   color: #163369;
}
pre.coda .NormalVariable {
   color: #916305;
   font-style: italic;
}
pre.coda .Invalid {
   color: #EB291C;
}
pre.coda .MetaBrace1 {
   color: #EA291C;
}
pre.coda .FunctionName {
   color: #053369;
}
pre.coda .Comment {
   color: #3C802C;
   font-style: italic;
}
