pre.dominion_day .CssSelectors {
   color: #971BA1;
}
pre.dominion_day .HtmlScriptTags {
   color: #971BA1;
}
pre.dominion_day .RubyFunctionArgs {
   color: #B9ADD7;
}
pre.dominion_day .PythonFunctionArgs {
   color: #D4A5F3;
}
pre.dominion_day .Constant {
   color: #B36FD6;
}
pre.dominion_day .String {
   color: #83529D;
}
pre.dominion_day .line-numbers {
   background-color: #3A5A3C;
   color: #FFFFFF;
}
pre.dominion_day {
   background-color: #000000;
   color: #B9ADD7;
}
pre.dominion_day .CssUrls {
   color: #B36FD6;
}
pre.dominion_day .PythonParenthesis {
   color: #B9ADD7;
}
pre.dominion_day .Variable {
   color: #5D935D;
}
pre.dominion_day .Support {
   color: #971BA1;
}
pre.dominion_day .CssConstants {
   color: #C5A1D7;
}
pre.dominion_day .CssClassIdSelectors {
   color: #651E8A;
}
pre.dominion_day .PhpVariables {
   color: #C5A1D7;
}
pre.dominion_day .HtmlBlockTags {
   color: #471062;
}
pre.dominion_day .RubyGlobal {
   color: #651E8A;
}
pre.dominion_day .PythonMagicVariables {
   color: #B36FD6;
}
pre.dominion_day .Storage {
   color: #5B55FE;
}
pre.dominion_day .GenericTagNames {
   color: #471062;
}
pre.dominion_day .Operators {
   color: #A5A4C5;
}
pre.dominion_day .AUniquelyHarmoniousThemeForFolks {
   background-color: #2B093C;
   color: #83529D;
}
pre.dominion_day .YamlEntity {
   color: #971BA1;
}
pre.dominion_day .HtmlInlineTags {
   color: #971BA1;
}
pre.dominion_day .JavascriptKeywords {
   color: #5450FF;
}
pre.dominion_day .PhpVariableDefinition {
   color: #B36FD6;
}
pre.dominion_day .PhpTags {
   color: #971BA1;
}
pre.dominion_day .HtmlDoctype {
   color: #B36FD6;
}
pre.dominion_day .WhoDonTWorkInBrightRooms {
   background-color: #2B093C;
   color: #83529D;
}
pre.dominion_day .CssUnits {
   color: #B36FD6;
}
pre.dominion_day .CssCombinatorsAttributeSelectors {
   color: #B36FD6;
}
pre.dominion_day .PhpGlobals {
   color: #971BA1;
}
pre.dominion_day .DominionDay {
   background-color: #2B093C;
   color: #83529D;
}
pre.dominion_day .CssPunctuation {
   color: #C5A1D7;
}
pre.dominion_day .RubyClassVariables {
   color: #B36FD6;
}
pre.dominion_day .Keyword {
   color: #5B55FE;
}
pre.dominion_day .CssProperties {
   color: #83529D;
}
pre.dominion_day .GenericTagAttributes {
   color: #65158F;
}
pre.dominion_day .RubyInstanceVariables {
   color: #C5A1D7;
}
pre.dominion_day .PythonFunctionDecorators {
   color: #5D935D;
}
pre.dominion_day .Function {
   color: #971BA1;
}
pre.dominion_day .HtmlInlineTagAttributes {
   color: #65158F;
}
pre.dominion_day .Invalid {
   background-color: #D10000;
   color: #A3FFA6;
}
pre.dominion_day .HttpWwwKhiltdCom {
   background-color: #2B093C;
   color: #83529D;
}
pre.dominion_day .CssPseudoelementsPseudoclasses {
   color: #5D935D;
}
pre.dominion_day .HtmlStructureTags {
   color: #83529D;
}
pre.dominion_day .Entity {
   color: #B36FD6;
}
pre.dominion_day .Comment {
   color: #554D9D;
}
