pre.mintblue .StorageStorageTypeFunction {
   background-color: #F9FAAB;
   color: #1C7A1F;
}
pre.mintblue .Variable1 {
}
pre.mintblue .RoundBrackets2 {
   background-color: #404040;
}
pre.mintblue .StringMetaSourceMetaEndingSpace {
   background-color: #9BB474;
}
pre.mintblue .SourceMetaOddTab {
   color: #697074;
}
pre.mintblue .String {
   background-color: #BFC8AC;
   text-decoration: underline;
}
pre.mintblue .DeclarationSgml {
}
pre.mintblue .TextCommentSource {
   background-color: #C4AFD0;
   color: #AB90C0;
}
pre.mintblue .Source {
   background-color: #656565;
   color: #ECEBEC;
}
pre.mintblue .line-numbers {
   background-color: #D89CF5;
   color: #000000;
}
pre.mintblue {
   background-color: #FFFFFF;
   color: #323232;
}
pre.mintblue .RoundBrackets3 {
   background-color: #404040;
}
pre.mintblue .DeclarationTagHtmlString {
   color: #6A8B56;
}
pre.mintblue .SourceStringSource {
   background-color: #878B8C;
   color: #FFFFFF;
}
pre.mintblue .Variable {
   color: #99D8F6;
}
pre.mintblue .KeywordOperator {
   color: #000000;
}
pre.mintblue .RoundBrackets4 {
   background-color: #404040;
}
pre.mintblue .MetaTab {
   background-color: #BDE8FF;
}
pre.mintblue .StringInterpolated {
   background-color: #8AAA67;
}
pre.mintblue .DeclarationAttributeWithValueId {
}
pre.mintblue .TextSource {
}
pre.mintblue .MetaFunctionStorageType {
   background-color: #C2DB90;
   color: #344152;
}
pre.mintblue .VariableParameterFunction {
   background-color: #99D8F6;
   color: #424252;
}
pre.mintblue .RoundBrackets5 {
   background-color: #404040;
}
pre.mintblue .MetaLeadingSpace {
   background-color: #BDE8FF;
}
pre.mintblue .MetaEndingSpace {
   background-color: #BDE8FF;
}
pre.mintblue .SourceStringQuotedSingle {
   color: #F9FAAB;
}
pre.mintblue .MetaSourceEmbeddedScriptTag {
   background-color: #D42755;
   color: #FFFFFF;
}
pre.mintblue .MetaSourceEmbeddedBoundSource {
   background-color: #4C6C7B;
   color: #DCEDF5;
}
pre.mintblue .RoundBrackets6 {
   background-color: #404040;
}
pre.mintblue .SourceComment {
   background-color: #6B606B;
   color: #BFA0D6;
}
pre.mintblue .TextStringSourceTest {
   background-color: #86A175;
}
pre.mintblue .RoundBrackets7 {
   background-color: #404040;
}
pre.mintblue .DeclarationTag {
   background-color: #B1E0F7;
   color: #99D8F6;
}
pre.mintblue .RoundBrackets8 {
   background-color: #404040;
}
pre.mintblue .StringMetaSourceMetaLeadingSpace {
   background-color: #F1F5E5;
}
pre.mintblue .ConstantCharacterEntity {
   color: #99D8F6;
}
pre.mintblue .MetaSourceEmbedded {
   background-color: #565656;
   color: #787878;
}
pre.mintblue .Keyword {
   font-weight: bold;
   color: #B6D48F;
}
pre.mintblue .SupportFunction {
}
pre.mintblue .RoundBrackets9 {
   background-color: #404040;
   text-decoration: underline;
}
pre.mintblue .SourceMetaLeadingSpace {
   text-decoration: underline;
   color: #5D5D5D;
}
pre.mintblue .SourceJs {
   background-color: #596459;
}
pre.mintblue .SourceMetaEndingSpace {
   background-color: #656565;
}
pre.mintblue .EntityOtherAttributeName {
   font-style: italic;
}
pre.mintblue .SourceString {
   text-decoration: underline;
   color: #BCDE90;
}
pre.mintblue .MetaSourceEmbeddedBound {
   background-color: #A5DCF7;
   color: #4C6C7B;
}
pre.mintblue .Invalid {
   background-color: #D42755;
}
pre.mintblue .SupportFunctionSupportFunctionEntityNameFunction {
   background-color: #809960;
   color: #BADF8B;
}
pre.mintblue .MetaFunctionStorageType1 {
}
pre.mintblue .RoundBrackets0 {
   background-color: #404040;
}
pre.mintblue .TextStringSource {
   background-color: #9BB474;
   color: #464646;
}
pre.mintblue .RoundBrackets1 {
   background-color: #404040;
}
pre.mintblue .EntityNameTag {
   font-weight: bold;
   background-color: #C3E7F8;
   color: #323232;
}
