pre.mintblue_dark .StorageStorageTypeFunction {
   background-color: #F9FAAB;
   color: #1C7A1F;
}
pre.mintblue_dark .Variable1 {
}
pre.mintblue_dark .RoundBrackets2 {
   background-color: #040506;
}
pre.mintblue_dark .StringMetaSourceMetaEndingSpace {
   background-color: #9BB474;
}
pre.mintblue_dark .SourceMetaOddTab {
   background-color: #5E8BA3;
}
pre.mintblue_dark .String {
   background-color: #374328;
   text-decoration: underline;
}
pre.mintblue_dark .DeclarationSgml {
}
pre.mintblue_dark .TextCommentSource {
   background-color: #655274;
   color: #AB90C0;
}
pre.mintblue_dark .Source {
   background-color: #2F3030;
   color: #ECEBEC;
}
pre.mintblue_dark .line-numbers {
   background-color: #A600F6;
   color: #000000;
}
pre.mintblue_dark .RoundBrackets3 {
   background-color: #040506;
}
pre.mintblue_dark .DeclarationTagHtmlString {
   color: #6A8B56;
}
pre.mintblue_dark .SourceStringSource {
   background-color: #878B8C;
   color: #FFFFFF;
}
pre.mintblue_dark .Variable {
   color: #99D8F6;
}
pre.mintblue_dark .KeywordOperator {
   color: #000000;
}
pre.mintblue_dark .RoundBrackets4 {
   background-color: #040506;
}
pre.mintblue_dark .MetaTab {
   background-color: #4C6977;
}
pre.mintblue_dark .StringInterpolated {
   background-color: #6E8E4C;
}
pre.mintblue_dark .DeclarationAttributeWithValueId {
}
pre.mintblue_dark .TextSource {
}
pre.mintblue_dark .MetaFunctionStorageType {
   background-color: #B5CD87;
   color: #344152;
}
pre.mintblue_dark .VariableParameterFunction {
   background-color: #8FCBE7;
   color: #424252;
}
pre.mintblue_dark .RoundBrackets5 {
   background-color: #040506;
}
pre.mintblue_dark .MetaLeadingSpace {
   background-color: #5E8BA3;
}
pre.mintblue_dark .MetaEndingSpace {
   background-color: #5E8BA3;
}
pre.mintblue_dark .SourceStringQuotedSingle {
   color: #F9FAAB;
}
pre.mintblue_dark .MetaSourceEmbeddedScriptTag {
   background-color: #C62551;
   color: #FFFFFF;
}
pre.mintblue_dark .MetaSourceEmbeddedBoundSource {
   background-color: #637739;
   color: #FFFFFF;
}
pre.mintblue_dark .RoundBrackets6 {
   background-color: #040506;
}
pre.mintblue_dark .SourceComment {
   background-color: #645B65;
   color: #BFA0D6;
}
pre.mintblue_dark .TextStringSourceTest {
   background-color: #86A175;
}
pre.mintblue_dark .RoundBrackets7 {
   background-color: #040506;
}
pre.mintblue_dark .DeclarationTag {
   background-color: #7EAEC6;
   color: #99D8F6;
}
pre.mintblue_dark .RoundBrackets8 {
   background-color: #040506;
}
pre.mintblue_dark .StringMetaSourceMetaLeadingSpace {
}
pre.mintblue_dark .ConstantCharacterEntity {
   color: #99D8F6;
}
pre.mintblue_dark .MetaSourceEmbedded {
   background-color: #434343;
   color: #848484;
}
pre.mintblue_dark .Keyword {
   font-weight: bold;
   color: #B6D48F;
}
pre.mintblue_dark .SupportFunction {
}
pre.mintblue_dark .RoundBrackets9 {
   background-color: #040506;
   text-decoration: underline;
}
pre.mintblue_dark .SourceMetaLeadingSpace {
}
pre.mintblue_dark .SourceJs {
   background-color: #545E54;
}
pre.mintblue_dark {
   background-color: #101619;
   color: #FFFFFF;
}
pre.mintblue_dark .SourceMetaEndingSpace {
   background-color: #060809;
}
pre.mintblue_dark .EntityOtherAttributeName {
   font-style: italic;
}
pre.mintblue_dark .SourceString {
   text-decoration: underline;
   color: #BCDE90;
}
pre.mintblue_dark .MetaSourceEmbeddedBound {
   background-color: #5E7136;
   color: #202712;
}
pre.mintblue_dark .Invalid {
   background-color: #D42755;
}
pre.mintblue_dark .SupportFunctionSupportFunctionEntityNameFunction {
   background-color: #809960;
   color: #BADF8B;
}
pre.mintblue_dark .MetaFunctionStorageType1 {
}
pre.mintblue_dark .RoundBrackets0 {
   background-color: #040506;
}
pre.mintblue_dark .TextStringSource {
   background-color: #809960;
   color: #FFFFFF;
}
pre.mintblue_dark .RoundBrackets1 {
   background-color: #040506;
}
pre.mintblue_dark .EntityNameTag {
   font-weight: bold;
   background-color: #648A9D;
   color: #666666;
}
