pre.twilight_bg_fg .MetaRoundBrackets2 {
   background-color: #F2F2F2;
}
pre.twilight_bg_fg .StringRegexpSpecial1 {
   color: #CF7D34;
}
pre.twilight_bg_fg .DiffInserted {
   background-color: #557F49;
}
pre.twilight_bg_fg .String {
   background-color: #7C885C;
}
pre.twilight_bg_fg .MetaRoundBrackets3 {
   background-color: #F2F2F2;
}
pre.twilight_bg_fg .CssPropertyValue1 {
   color: #F9EE98;
}
pre.twilight_bg_fg .CssId1 {
   color: #8B98AB;
}
pre.twilight_bg_fg .EntityInheritedClass {
   background-color: #875028;
   font-style: italic;
}
pre.twilight_bg_fg .CCCPreprocessorDirective1 {
   color: #AFC4DB;
}
pre.twilight_bg_fg .StringConstant {
   background-color: #C0D28E;
}
pre.twilight_bg_fg .MetaTagAll1 {
   color: #AC885B;
}
pre.twilight_bg_fg .Storage {
   background-color: #D8CF84;
}
pre.twilight_bg_fg .StringRegexp1 {
   color: #E9C062;
}
pre.twilight_bg_fg .MetaRoundBrackets4 {
   background-color: #F2F2F2;
}
pre.twilight_bg_fg .CssAdditionalConstants {
   background-color: #AF6837;
}
pre.twilight_bg_fg .CssAtRule {
   background-color: #74808F;
}
pre.twilight_bg_fg .StringVariable1 {
   color: #8A9A95;
}
pre.twilight_bg_fg .MetaRoundBrackets5 {
   background-color: #F2F2F2;
}
pre.twilight_bg_fg .String1 {
   text-decoration: underline;
   color: #8F9D6A;
}
pre.twilight_bg_fg .StringVariable {
   background-color: #788681;
}
pre.twilight_bg_fg .DiffDeleted {
   background-color: #7F5349;
}
pre.twilight_bg_fg .CCCPreprocessorLine1 {
   color: #8996A8;
}
pre.twilight_bg_fg .CssConstructorArgument1 {
   color: #8F9D6A;
}
pre.twilight_bg_fg .SupportFunction {
   background-color: #BDB573;
}
pre.twilight_bg_fg .EmbeddedSourceBright1 {
   background-color: #9A9BA2;
}
pre.twilight_bg_fg .Entity1 {
   color: #9B703F;
}
pre.twilight_bg_fg .CssPropertyValue {
   background-color: #D8CF84;
}
pre.twilight_bg_fg .StringConstant1 {
   color: #DDF2A4;
}
pre.twilight_bg_fg .StringEmbeddedSource {
   background-color: #CEE29A;
}
pre.twilight_bg_fg .CCCPreprocessorDirective {
   background-color: #98AABE;
}
pre.twilight_bg_fg .Variable {
   background-color: #657590;
}
pre.twilight_bg_fg .Constant {
   background-color: #B45C42;
}
pre.twilight_bg_fg .CssAdditionalConstants1 {
   color: #CA7821;
}
pre.twilight_bg_fg .DiffHeader {
   background-color: #496D7F;
   font-style: italic;
}
pre.twilight_bg_fg .Keyword1 {
   color: #CDA869;
}
pre.twilight_bg_fg .Support {
   background-color: #877388;
}
pre.twilight_bg_fg .CssClass1 {
   color: #9B703F;
}
pre.twilight_bg_fg .EmbeddedSourceBright {
}
pre.twilight_bg_fg .Keyword {
   background-color: #B2925B;
}
pre.twilight_bg_fg .CssAtRule1 {
   color: #8693A5;
}
pre.twilight_bg_fg .Comment {
   background-color: #474348;
}
pre.twilight_bg_fg .MetaTagInline1 {
   color: #E0C589;
}
pre.twilight_bg_fg .DoctypeXmlProcessing {
   background-color: #3F3F3F;
}
pre.twilight_bg_fg .InvalidIllegal {
   background-color: #D8D8D8;
}
pre.twilight_bg_fg .Comment1 {
   color: #918A93;
}
pre.twilight_bg_fg .InvalidDeprecated1 {
   color: #D2A8A1;
   font-style: italic;
}
pre.twilight_bg_fg .CssClass {
   background-color: #876136;
}
pre.twilight_bg_fg .CssPseudoClass1 {
   color: #8F9D6A;
}
pre.twilight_bg_fg .InvalidDeprecated {
   background-color: #B6928C;
   font-style: italic;
}
pre.twilight_bg_fg .CssTagName {
   background-color: #B2925B;
}
pre.twilight_bg_fg .Storage1 {
   color: #F9EE98;
}
pre.twilight_bg_fg .Entity {
   background-color: #876136;
}
pre.twilight_bg_fg .CCCPreprocessorLine {
   background-color: #778292;
}
pre.twilight_bg_fg .CssPropertyName {
   background-color: #AB9865;
}
pre.twilight_bg_fg .EmbeddedSourceBrackets {
   background-color: #A2A5AB;
   color: #665235;
}
pre.twilight_bg_fg .EmbeddedSource {
}
pre.twilight_bg_fg .Variable1 {
   color: #7587A6;
}
pre.twilight_bg_fg .CssPropertyName1 {
   color: #C5AF75;
}
pre.twilight_bg_fg .MetaTagAll {
   background-color: #95764F;
}
pre.twilight_bg_fg .EntityInheritedClass1 {
   color: #9B5C2E;
   font-style: italic;
}
pre.twilight_bg_fg .line-numbers {
   background-color: #DDF0FF;
   color: #000000;
}
pre.twilight_bg_fg .DiffInserted1 {
   background-color: #253B22;
   color: #F8F8F8;
}
pre.twilight_bg_fg .DiffChanged1 {
   background-color: #4A410D;
   color: #F8F8F8;
}
pre.twilight_bg_fg .CssPseudoClass {
   background-color: #7C885C;
}
pre.twilight_bg_fg .SupportFunction1 {
   color: #DAD085;
}
pre.twilight_bg_fg .EmbeddedSource1 {
   background-color: #93969C;
   color: #A6A6A6;
}
pre.twilight_bg_fg .Constant1 {
   color: #CF6A4C;
}
pre.twilight_bg_fg .StringRegexpSpecial {
   background-color: #B46C2D;
}
pre.twilight_bg_fg .StringEmbeddedSource1 {
   color: #DAEFA3;
}
pre.twilight_bg_fg .DiffChanged {
   background-color: #7F7D49;
}
pre.twilight_bg_fg .Support1 {
   color: #9B859D;
}
pre.twilight_bg_fg .DoctypeXmlProcessing1 {
   color: #494949;
}
pre.twilight_bg_fg .DiffDeleted1 {
   background-color: #420E09;
   color: #F8F8F8;
}
pre.twilight_bg_fg .StringRegexp {
   background-color: #CAA755;
}
pre.twilight_bg_fg .MetaTagInline {
   background-color: #C3AB77;
}
pre.twilight_bg_fg .InvalidIllegal1 {
   background-color: #150B15;
   color: #F8F8F8;
}
pre.twilight_bg_fg .SupportConstant {
   background-color: #B45C42;
}
pre.twilight_bg_fg .MetaRoundBrackets {
   background-color: #F2F2F2;
}
pre.twilight_bg_fg .DiffHeader1 {
   background-color: #0E2231;
   color: #F8F8F8;
   font-style: italic;
}
pre.twilight_bg_fg .CssTagName1 {
   color: #CDA869;
}
pre.twilight_bg_fg .CssId {
   background-color: #798494;
}
pre.twilight_bg_fg .SupportConstant1 {
   color: #CF6A4C;
}
pre.twilight_bg_fg .CssConstructorArgument {
   background-color: #7C885C;
}
pre.twilight_bg_fg {
   background-color: #000000;
   color: #A6A6A6;
}
